In [1]:
import seaborn as sns
df = sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [2]:
X = df[["tip", "sex", "smoker", "day", "time", "size"]]
y = df["total_bill"]

In [12]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [13]:
X_train

      tip     sex smoker  day    time  size
115  3.50  Female     No  Sun  Dinner     2
181  5.65    Male    Yes  Sun  Dinner     2
225  2.50  Female    Yes  Fri   Lunch     2
68   2.01    Male     No  Sat  Dinner     2
104  4.08  Female     No  Sat  Dinner     2
..    ...     ...    ...  ...     ...   ...
106  4.06    Male    Yes  Sat  Dinner     2
14   3.02  Female     No  Sun  Dinner     2
92   1.00  Female    Yes  Fri  Dinner     2
179  3.55    Male    Yes  Sun  Dinner     2
102  2.50  Female    Yes  Sat  Dinner     3

[183 rows x 6 columns]

In [14]:
from sklearn.preprocessing import LabelEncoder
le1 = LabelEncoder()
le2 = LabelEncoder()
le3 = LabelEncoder()

In [15]:
X_train['sex'] = le1.fit_transform(X_train["sex"])
X_train["smoker"] = le2.fit_transform(X_train["smoker"])
X_train["time"] = le3.fit_transform(X_train["time"])

In [16]:
X_train

      tip  sex  smoker  day  time  size
115  3.50    0       0  Sun     0     2
181  5.65    1       1  Sun     0     2
225  2.50    0       1  Fri     1     2
68   2.01    1       0  Sat     0     2
104  4.08    0       0  Sat     0     2
..    ...  ...     ...  ...   ...   ...
106  4.06    1       1  Sat     0     2
14   3.02    0       0  Sun     0     2
92   1.00    0       1  Fri     0     2
179  3.55    1       1  Sun     0     2
102  2.50    0       1  Sat     0     3

[183 rows x 6 columns]

In [17]:
X_test['sex'] = le1.transform(X_test["sex"])
X_test["smoker"] = le2.transform(X_test["smoker"])
X_test["time"] = le3.transform(X_test["time"])

In [18]:
X_test

      tip  sex  smoker   day  time  size
24   3.18    1       0   Sat     0     2
6    2.00    1       0   Sun     0     2
153  2.00    1       0   Sun     0     4
211  5.16    1       1   Sat     0     4
198  2.00    0       1  Thur     1     2
..    ...  ...     ...   ...   ...   ...
172  5.15    1       1   Sun     0     2
242  1.75    1       0   Sat     0     2
152  2.74    1       0   Sun     0     3
231  3.00    1       1   Sat     0     3
155  5.14    0       0   Sun     0     5

[61 rows x 6 columns]

In [21]:
# One Hot Encoding
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('onehot', OneHotEncoder(drop="first"), [3])], remainder='passthrough')

In [22]:
X_train = ct.fit_transform(X_train)
X_test = ct.transform(X_test)

In [23]:
X_train

array([[0., 1., 0., ..., 0., 0., 2.],
       [0., 1., 0., ..., 1., 0., 2.],
       [0., 0., 0., ..., 1., 1., 2.],
       ...,
       [0., 0., 0., ..., 1., 0., 2.],
       [0., 1., 0., ..., 1., 0., 2.],
       [1., 0., 0., ..., 1., 0., 3.]], shape=(183, 8))

In [ ]:
X_test

In [24]:
from sklearn.svm import SVR
model = SVR()

In [26]:
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test, y_pred)

39.31122612339172

In [29]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

4.463296539661225

In [30]:
from sklearn.metrics import r2_score
r2_score(y_test, y_pred)

0.49798620106004743